/***
project name : portfolio
author : ali reza torkamani
school : Coding Dojo


***/

* {
    margin:0;
    padding: 0;
}

body {
   
    width: 100%;
    max-width: 1300px;
   
    margin: 0 auto;
}

h1 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}
#header {
    width:100% !important;
    margin: 0 auto;
    height:50px;
    line-height: 50px;
    background-color: #CCC;
}



#header h1.hleft   {
    display: inline-block;
    color:black;
    width: 50%;
    font-style: italic;
}

#header h1.hright {
    display: inline-block;
    color:black;
    width: 50%;
    text-align: right;
}

#content {
    background: linear-gradient(#9885d0, #522929bf);
    width: 100%;
    display: block;
}

#boxtop {

    display: block;
    width: 100%;
    margin: 0 auto;
    height:400px;

    
}

.boxleft, .boxright {
    width: 45%;
    display: inline-block;
    height: auto;
    
    vertical-align: top;
    margin: 40px 2.5% 0px 2.5%;
    background:#CCC;
}

div.boxleft img {
    display: block;
    width:100%;
    border: solid 5px #CCC;
}

#paragraph {
    width: 100%;
    margin: 0 auto;
    min-height: 85%;
    max-height: 100%;
}
.boxright h1, .col3 h1 {
    background: linear-gradient(rgb(105, 97, 99),#CCC);
}

.boxright h1 a{
    margin-left:20px;
    
}

.boxright div p {
    margin: 20px 20px;
    line-height: 30px;
    font-size: 1.2em;
}

.boxright div a {
    margin-left: 20px;
    color:#2f1212bf;
}
#box-bottom {
    width:100%;
    margin-top: 80px;
    display: block;
}


.col3 {width : 28%;display: 
    inline-block;background: linear-gradient(rgb(220, 105, 145),#CCC);
    margin-left: 2.5%;margin-right:2.5%;margin-bottom: 80px;}

.col3 h1 {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.col3 img{
    display: block;
    width:100%;
    margin-top: 0px;
}



.col3 .co  {
    display: block;
    width:100%;
    
}

.co p {
    margin :20px auto 60px auto;
    width: 80%;
}

.col5 {
    width: 18%;
    margin-left: 0.55%;
    margin-right: 0.55%;
    height: 63px;   
    display: inline-block;
}

.col5 img {
    margin-top: 20%;
}

.more {
    width :30%;
    display: block;
    text-align: center;
    background: green;
    color:white;
    padding-top:5px;
    position:  relative;
    padding-bottom: 5px;
    margin: 15% auto;
    margin-bottom: 40px;
    text-decoration: none;
}
#footer {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
}

.footerh {
    width:90%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.footerh img {
    width:25px;
    height: 25px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    
    vertical-align: center;
}

h2.footerh a {
    width: 100;
    line-height: 50px;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
}